<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"  content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <title>注册账户</title>
</head>
<body>
<div class="container">
    <div class="row"></div>
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-6 column panel panel-primary">
            <div class="panel-heading">
                <h3>
                    注册您的平台账户
                </h3>
            </div>
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" />Check me out</label>
                </div> <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
</body>
</html>